// Place all the styles related to the tops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul, li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    margin: 0;
    position: absolute;
}

header {
    height: 65px;
    width: 100%;
    z-index: 1;
}

.header-logo {
  float: left;
  padding: 2% 0 0 12%;
  color:#333631;
  font-size: 32px;
  line-height: 60px;
}

.clear {
    clear: left;
    clear: right;
}

.header-logo a{
  color: #333631;
  font-size: 22px;
}

.header-menus {
  float: right;
  padding: 3.5% 12% 1% 1%;
}

.header-menus li {
  float: left;
  line-height: 30px;
  font-size: 13px;
  color: #333631;
  padding-left: 15px;
  padding-right: 15px;
}

.header-menus a {
  float: left;
  font-size: 13px;
  color: #333631;
}

.header-menus .fa {
  padding-right: 5px;
}

.header-menus input[type="submit"] {
  padding: 0 20px;
  float: left;
  line-height: 64px;
  color: #333631;
  margin: 0;
  font-size: 13px;
}

  .select-wrapper {
    position: relative;
    left: 10%;
    text-align: left;
    width: 80%;
    padding: 5px 0 5px 0;
    background-image: url(/kitchen1.jpg);
    background-size: cover;
    color: #fff;
    margin-bottom: 50px;
  }


  .select-wrapper h2 {
    padding-left: 5%;
    opacity: 1;
    font-size: 50px;
    letter-spacing: 5px;
    font-weight: normal;
  }

  .out_button img {
    opacity:1;
    width: 300px;
    margin-left: 37%;
    padding: -30px;
  }

  .in_button img {
    opacity: 0.95;
    width: 300px;
    margin-left: 37%;
  }

  .out {
      width: 60%;
      margin: 0 20% 0 20%;
      text-align: center;
      background-color: #fff;
      padding-top: 30px;
      padding-bottom: 30px;
      margin-bottom: 50px;
  }

  .out p {
    color: #4d4d4d;
  }

  .out h1 {
    color: #4d4d4d;
  }

  .compare_button {
    text-align: center;
    margin-bottom: 50px;
  }

  .write {
      margin-top: 30px;
  }

