(!DOCTYPE html)
<html>
 <head>
    <meta charset="utf-8">
    <tytle>Detail</tytle>
    <link rel="stylesheet" href="detail.scss">
 </head>
 <body>
     <div class="header">
         <div class="header_logo">Jisui Self Catering</div>
         <div class="header_list">
             <ul>
                <li>マイページ</li>
                <li節約結果</li>
                <li>カレンダー</li>
             </ul>
         </div>
         
     </div>
     
     <div class="main">
         <div class="logo.1">
             詳細
         </div>
         <!--日付、金額、節約累計金額、詳細をつなげてください。-->
         <div class="day"></div>
         <div class="ampunt of money"></div>
         <div class="total amount of money"></div>
         <div class="cooking detail"></div>
         
     </div>
     <div class="footer">
         <div class="fotter_logo">Jisui Self Catering</div>
     </div>
 </body>
</html>